<html>
  <head>
    <style>
      body {
        background: url('/assets/autumn-lake.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
        }
      h1 {
        color: blue;
        font-family: 'Helvetica Neue', Helvetica;
        font-weight: 100;
        font-size: 60px;
        margin: 0;
      }
      p {
        color: white;
        font-family: 'Helvetica Neue', Helvetica;
        font-weight: 200;
      }
      .box {
        background-color: rgba(0,0,0,0.5);
        padding: 20px;
        width: 500px;
        margin: 100px auto;
        text-align: justify;
      }
    </style>
  </head>

  <body>
    <div class="box">
      <h1>Good home</h1>

      <p>The happiest of people don't necessarily have the best
of everything they just make the most of everything that comes
along their way.</p>
      <p><small>No name</small></p>
    </div>

    <div class="text-center">
      <a class="btn btn-primary" href="<%=ideas_path%>">See ideas...</a>
    </div>
</body>
</html>
